In [2]:
import pandas as pd

In [12]:
pd.read_excel (r"C:\Users\billo\Documents\Shark attack project\GSAF5.xls")

df = pd.read_excel (r"C:\Users\billo\Documents\Shark attack project\GSAF5.xls")

In [13]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,...,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,male,M,21,...,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,...,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving,Bridgette Oâ€™Shannessy,F,32,...,NaN,S. DeMarchi. GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05 Nov-2023,2023.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,Steven Reinhardt,M,66,...,NaN,"ABC, 11/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Problem Statement:
#The study aims to investigate and analyze the potential risk factors associated with shark attacks in coastal regions. The research focuses on three distinct hypotheses to better understand the circumstances surrounding shark-human interactions.

#Hypothesis #1:
#Individuals participating in surfing activities 
#are more likely to experience shark attacks of a fatal nature compared to those engaged in other water-related activities, 
#indicating a potential correlation between surfing and an increased probability of encountering sharks.

#Hypothesis #2:
#The likelihood of shark attacks is higher during the early morning hours, specifically between 6:00 AM and 11:00 AM.

#Hypothesis #3:
#There is a greater probability of a shark attack occurring when the shark is provoked as opposed to unprovoked, 
#specifically during the water activity being practiced at the time of the attack.

In [14]:
df.isnull().sum()

Date                25
Year                27
Type                43
Country             75
State              506
Location           589
Activity           610
Name               244
Sex                604
Age               3015
Injury              60
Unnamed: 11        586
Time              3547
Species           3151
Source              44
pdf                146
href formula       126
href               149
Case Number        147
Case Number.1      148
original order     146
Unnamed: 21       6944
Unnamed: 22       6943
dtype: int64

In [15]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [28]:
df = df.drop(['href formula'], axis=1)

In [29]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Unnamed: 11,Time,Species,Source,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,...,Y,Morning,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN
1,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,male,M,21,...,N,11h30,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN
2,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,...,Y,10h30,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN
3,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving,Bridgette Oâ€™Shannessy,F,32,...,N,13h20,NaN,S. DeMarchi. GSAF,NaN,NaN,NaN,NaN,NaN,NaN
4,05 Nov-2023,2023.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,Steven Reinhardt,M,66,...,N,10h30,NaN,"ABC, 11/15/2023",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df['Activity'].value_counts()

Activity
Surfing                                   1116
Swimming                                   969
Fishing                                    485
Spearfishing                               380
Wading                                     173
                                          ...
Swimming alongside yacht Mexico Fiesta       1
Fishing for red fish                         1
Fishing boat swamped in a storm              1
Free diving (but on surface)                 1
Wreck of  large double sailing canoe         1
Name: count, Length: 1585, dtype: int64

In [33]:
df = df.rename(columns={"Unnamed: 11":'Killed'})

In [34]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Killed,Time,Species,Source,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,...,Y,Morning,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN
1,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,male,M,21,...,N,11h30,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN
2,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,...,Y,10h30,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN
3,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving,Bridgette Oâ€™Shannessy,F,32,...,N,13h20,NaN,S. DeMarchi. GSAF,NaN,NaN,NaN,NaN,NaN,NaN
4,05 Nov-2023,2023.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,Steven Reinhardt,M,66,...,N,10h30,NaN,"ABC, 11/15/2023",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN